create database form_site_db;
create schema public;
create user default_user;

create table Interns (
    discord_username varchar(64),
    primary key (discord_username)
);

create table Product_Managers (
    discord_username varchar(64),
    primary key (discord_username)
);

-- create table Forms (
--     form_id serial,
--     intern_name varchar(64),
--     assigned_tasks text,
--     completion_status text,
--     deliverables varchar(64),
--     upcoming_goals text,
--     challenges text,
--     pm_name varchar(64),
--     primary key (form_id),
--     foreign key (intern_name) on (Interns.intern_name),
--     foreign key (pm_name) on (Product_Managers.discord_username)
-- );

